<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
模板过滤器的使用
<hr>
<body>
<br>
字符串过滤器的使用
<hr>
{{ "itcast" | upper }}
<br>
{{ "ITCAST" | lower }}
<br>
{{ "itcast" | title }}
<br>
{{ "itcast" | reverse }}
<br>
{#
 escape: 表示你传入的字符串不安全，原样输出
 safe: 表示传入的字符串是安全 解析输出
#}
{{ html_str | escape }}
<br>
{{ html_str | safe }}

<hr>
过滤器链式调用
<br>
{{ "itcast" | upper | reverse }}
<br>
<hr>
列表过滤器的使用
<br>
{{ list }}
<br>
{{ list | first }}
<br>
{{ list | last }}
<br>
{{ list | length }}
<br>
{{ list | sort }}

<hr>
对商品价格求和(过滤器传入参数的使用)
<br>
{{ goods_list | sum(attribute='price') }}






</body>
</html>